
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: rgb(0, 0, 0);
}

table tbody tr{
  border-top: hidden;
}

table thead tr{
  border-top: hidden;
} 






/* header start */

.header_wrapper {
   background: rgba(23, 23, 26, 1);
  
 
   height: 85px;
  position: fixed !important;
  top: 0;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

.search_bar {
  position: relative;
}

.inner_search{
  position: relative;
  border: 1px solid red;
  
}

.inner_search i{
  position: absolute;
  top: 38px;
  left: 345px;
  color:  rgba(255, 255, 255, 0.678);
  z-index: 1;
}

.search_bar input {
  width: 600px;
  position: absolute;
  top: 20px;
  left: 330px;
  outline: none;
  border: none;
  background: rgba(35, 37, 48, 1);

  padding: 5px 20px;
  border-radius: 50px;
  height: 50px;
  font-size: 18px;
  padding-left: 40px;
}

.search_bar input:focus{
  background: rgba(35, 37, 48, 1);
}

.user_login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_login .user_logo p {
  background: #ffae00;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.836);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-top: 13px;
  cursor: pointer;
}

.notification i {
  margin-left: -35px;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: rgb(223, 217, 217);
  padding: 10px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notification i:hover {
  background: rgb(202, 197, 197);
  padding: 10px;
  border-radius: 50%;
}



.user_login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_logo_box {
  background: #ffae00;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  margin-right: 10px;
  margin-top: 7px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_logo_box_items {
  position: absolute;
  width: 200px;
  background: rgba(23, 23, 26, 1);

  top: 60px;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
  right: 0px;
  border-radius: 0px 0px 12px 12px;
  visibility: hidden;
  transform-origin: top;
  transition: all 0.4s ease-in-out;
  transform: scaleY(0);
}

.user_logo_box:hover .user_logo_box_items {
  visibility: visible !important;
  transform: scaleY(1);
}

.user_logo_box_items li {
  list-style-type: none;
  color: #ffffffcb;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  
  padding-left: 20px;
  transition: all 0.2s ease-in-out;
}
.user_logo_box_items li:hover {
  background: #585353;
}
.sign_out_icon {
  margin-left: 60px;
}

/* togle item */

.cammeron_toogle{
  position: relative;
  background: rgb(0, 0, 0);


  border-radius: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 40px;
  border-radius: 50%;
  
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* togle item */

.notification .bell_icon {
  left: -10px;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: rgb(223, 217, 217);
  padding: 5px 6px 6px 7px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  position: relative;
}

.notification_item {
  visibility: hidden;
  position: absolute;
  left: -180px;
  top: 55px;
  padding: 20px;
  border-radius: 0px 0px 12px 12px;
  width: 225px;
  background: rgba(23, 23, 26, 1);

  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
  transform-origin: top;
  transition: all 0.4s ease-in-out;
  transform: scaleY(0);
  overflow-y: auto;
  height: 500px;
}

.notification .bell_icon:hover .notification_item {
  visibility: visible;
  transform: scaleY(1);
}

.notification_item h5 {
  font-family: Arial;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.notification_item p {
  color: #f9fffecc;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.notification_item span {
  border-bottom: 1px solid #afa9a9;
  margin-bottom: 10px;
  display: block;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #11211d80 !important;
  padding-bottom: 10px;
}

.bell_icon:hover {
  background: rgb(202, 197, 197);
  border-radius: 50%;
}







/*---------------sidebar Start-------------*/

.sidebar {
  height: 100vh;
  position: fixed;
  background: #232530;

  width: 240px;
  transition-duration: 0.5s;
  z-index: 2000;
  left: 0px;
  top: 0px;
  font-weight: bold;
  bottom: 0;
  overflow: hidden;
  font-family: 'Inter';

}

.sidebar:hover {
  overflow-y: auto;
}

.sidebar_logo {
  background:#232530;

  z-index: 5;
}

.sidebar_logo {
background: #232530;
  width: 220px;
  position: fixed;
  margin-bottom: 15px;

}

.sidebar_logo img {
  width: 180px;
  margin-top: 10px;
  margin-left: 30px;
}

.sidebar_ul li{
  position: relative;
  margin-bottom: 5px;
}

/* .sidebar_ul li .sidebar_black_icons{
  margin-left: 20px;
  margin-right: 10px;
}

.sidebar_white_icons{
  display: none;
  margin-left: 20px;
  margin-right: 10px;
}

.sidebar_ul li:hover .sidebar_white_icons{
  display: inline-block;
}
.sidebar_ul li:hover .sidebar_black_icons{
  display:none;
} */


.sidebar ul li a {
  color: #FFFFFF;
  width: 100%;
  box-sizing: border-box;
  line-height: 45px;
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
  margin-left: 20px;
  
}
.iconify{
  font-size: 23px;
  top: 30px;  
  line-height: 4px;
  margin-bottom: -5px;
}

.sidebar ul li:first-child {
  margin-top: 68px;
}

.sidebar a:hover {
  text-decoration: none;
  color: #000000;
}

.sidebar a:hover::after {
  content: "";
  height: 20px;
  width: 2px;
  background: #000000;
  position: absolute;
  top: 12px;
  right: 10px;
  border-radius: 5px;
}

.blackIcon{
  display: none;
  margin-bottom: -6px;
}
.whiteIcon{
  margin-bottom: -6px;
}
.sidebar_ul li:hover .blackIcon{
  display: inline-block;
  
}
.sidebar_ul li:hover .whiteIcon{
  display: none;

}


#check {
  display: none;
}

label #bars,
label #close {
  position: absolute;
  padding: 15px;
  transition-duration: 0.5s;
  cursor: pointer;
}

label #bars {
  left: 10px;
  top: 20px;
  position: fixed;
  background: none;
  width: 50px;
  color: rgb(2, 2, 2);
  padding: 10px;
  font-size: 26px;
  z-index: 98;
  padding: 10px;
  display: none;
}

label #close {
  top: 12px;
  z-index: 10;
  opacity: 0;
  color: black;
  position: fixed;
  /* left:190px; */
  left: 5px;
}

#check:checked ~ .sidebar {
  left: 0px;
}

#check:checked ~ label #bars {
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #close {
  position: fixed;
  z-index: 105000;
  opacity: 1;
}

.sidebar li {
  transition-duration: 0.5s;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  position: relative;
  margin-left: 10px;
}

.sidebar li:hover {
  background: #5160ac;
  border-radius: 10px;
  margin-left: 10px;
}

.collapse-item-sidebar li a {
  
  padding-left: 10px;
  border-bottom: 1px dotted lightgray;
  width: 90%;
  color: #555;
  font-size: 15px;
  font-family: "robto";
  border-radius: 5px;
  background: transparent;
}
/* Style the active class, and buttons on mouse-over */
.active {
  background: #5160ac;
  color: rgb(0, 0, 0);
 border-radius: 10px;
} 

.active::after{
  content: "";
  height: 20px;
  width: 2px;
  background: #000000;
  position: absolute;
  top: 12px;
  right: 10px;
  border-radius: 5px;
}

.active a{
  color: rgb(0, 0, 0)!important;
}



.collapse-item-sidebar li a:hover {
  background: rgb(247, 240, 240);
}


@media screen and (max-width:1220px) {
  .sidebar{
    left: -500px;
  }

  label #bars{
    display: block;
  }

  .search_bar input{
    width: 600px;
    left: 80px;
  }

  .main_body{
    margin-left: 0px;
  }

  .inner_search i{
    left: 95px;
  }

 
}

@media screen and (max-width:790px) {
  .search_bar input{
    width: 400px;
    left: 80px;
  }


}

@media screen and (max-width:580px) {
  .search_bar input{
    width: 300px;
    left: 80px;
  }
}

@media screen and (max-width:480px) {
  .search_bar input{
    width: 250px;
    left: 60px;
  }

  .inner_search i{
    left: 76px;
  }

  .user_login .user_logo p{
    width: 30px;
    height: 30px;
  }

}


@media screen and (max-width:385px) {
  .search_bar input{
    width: 200px;
    left: 60px;
    height: 40px;
    margin-top: 5px;
    font-size: 16px;
  }

}





/*---------------sidebar End----------------*/














/* main-body-div */
/* main-body-div */
.main-body {
  margin-left: 240px;
  margin-top: 90px;
}

.containerr {
  margin: 30px;
}

@media screen and (max-width: 1220px) {
  .main-body {
    margin-left: 0px;
  }
}


/* dashboard charts styles start */
.charts {
  position: relative;
  margin-top: 110px;
  background-color: rgba(34, 37, 48, 0.658);
  padding:15px 20px ;
  padding-bottom: 20px;
  margin-left: 20px;
}

#myChart {
  cursor: pointer;
  position: relative;
}

.main-Charts {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  margin-left: 3%;
}


.chart{
  width: 220px;
  height: 220px;
}
.chartTwo{
  width: 200px;
  height: 200px;
}
.main-Charts .chart2{
  width: 200px;
  height: 200px;
}

.mychart2{
  width: 200px;
  height: 200px;
}



.charts_head {
  display: flex;
  display: block;
  margin-left: 75px;
}
.charts_head img {
  width: 100px;
  height: 70px;
  filter: brightness(90%);
  margin-left: -95px;
  margin-top: -5px;

  position: relative;
}

.charts_head h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-top: -55px;
  margin-left: -31px;
  z-index: 1;
  position: absolute;
  color: white;
}

.charts_head select {
  position: absolute;
  right: 30px;
  color: rgba(255, 255, 255, 0.534);
  font-size: 15px;
  font-weight: 500;
  padding: 5px 10px;
  background: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;

}

#p {
  color: red;
}

.middleOfCharts{
 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 1;
  background-color: rgb(235, 235, 235);
}


#middleIcon{
  font-size: 23px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side_Width {
  padding: 40px;
  border-left: 30px solid rgb(81, 96, 172);
  border-bottom: 30px solid rgb(81, 96, 172);
  border-bottom-left-radius: 100%;
  position: absolute;
  transform: rotate(36deg);
  margin-left: -170px;
  margin-top: 38px;
}

.side_width_bold {
  color: rgb(255, 255, 255);
  z-index: 1;
  position: absolute;
  margin-left: -175px;
  margin-top: 20px;
  display: none;
}

.side_Width:hover+.side_width_bold{
    
  display: block;
}


@media screen and (max-width:800px) {
  .charts_head h3{
    font-size: 15px;
  }

  .phone_res{
    display: none;
  }
  .charts_head select{
    padding: 5px;
    right: 15px;
  }
  
}











/* second section styles */
.second_chart {
  background: rgba(34, 37, 48, 1);
  padding: 26px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 20px;
  height: 391px;
}
.second_chart_head {
  display: flex;
}
.second_chart_head h3 {
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Inter';

}
.select {
  margin-left: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #11211d;
  cursor: pointer;
}


.btn-div {
  position: absolute;
  right: 0px;
  display: flex;
 
}
.btn-div p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background-color: #000000;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px 9px;
  cursor: pointer;
  margin-left: 3px;
  color: rgba(255, 255, 255, 0.795);
}

.btn-div button img {
  height: 18px;
  width: 18px;
}
.btn-div button {
  background-color: #000000;
  mix-blend-mode: normal;
  border-radius: 6px;
  padding: 0px 12px;
  border: none;
  height: 40px;
  cursor: pointer;
  margin-right: 35px;
  margin-left: 5px;
}

.line_chart {
  margin-top: 40px;
}
.line_chart canvas {
  width: 600px;
  height: 200px;
}

@media screen and (max-width: 800px) {
  .second_chart_head h3 {
    font-size: 11px;
  }
  .btn-div button {
    display: none;
  }
  .select {
    font-size: 12px;
    margin-top: 0px;
  }
  .btn-div {
    margin-right: 25px;
  }
}




/* donutChart */
.donunt_chart h3{
  font-size: 21px;
  font-weight: 700;
  font-family: 'Inter';
  color: white;
}
.mainDoughnut{
  width: 300px;
  height: 100%;
 
  
}

.wrapperMaindoughnet{
  display: flex;
  justify-content: center;
  align-items: center;
}

.donunt_chart{
  background-color: rgb(34,37,48);
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 9px;
  border-radius: 8px;
  position: relative;
  width: 100%;
  min-height: 370px;
 
 
}

.side_Width_donunt {
  width: 28px;
  height: 36px;
  padding: 36px;
  border-top: 40px solid rgb(1,112,185);
  border-left: 40px solid rgba(255, 0, 0, 0);
  border-top-left-radius: 200px;
  margin-left: 94px;
  margin-top: 130px;
  transform: rotate(-118deg);
  z-index: 2;
  position: absolute;
  display: none;
}

.side_width_donut_bold {
  color: rgb(255, 255, 255);
  z-index: 333;
  font-size: 14px;
  position: absolute;
  margin-top: 118px;
  margin-left: 34px;
  display: none;
}












/* third section styles */

/* third section_FristP styles */

.third_sec_FristP {
  background: linear-gradient(180deg, #222530 0%, rgba(34, 37, 48, 0) 100%);
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
  padding-left: 10px;
  padding-top: 6px;
  min-height: 450px;
}

.third_sec_FristP h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: white;
  
}

.third_sec_Ftable table thead tr th {
  font-family: "Inter";
  color: rgb(255, 255, 255);
  font-size: 13px;
  
}

.third_sec_Ftable table tbody tr td {
  font-size: 14px;
  justify-content: center;
  align-items: flex-end;
  font-family: "Inter";
  color: rgba(255, 255, 255, 0.829);
}
.third_sec_Ftable table thead tr {
  border-top: hidden;
  color: rgb(255, 255, 255);
}

.third_sec_Ftable table tbody tr td img {
  width: 17px;
}
.third_sec_Ftable table tbody tr th{
  color: rgba(255, 255, 255, 0.979);
}
.third_sec_Ftable table tbody tr {
  border-top: hidden;
}




/* up site */
.third_secondSec_UpSite {
  background: linear-gradient(180deg, #222530 0%, rgba(34, 37, 48, 0) 100%);
  padding: 19px 5px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
  min-height: 200px;
}

.upSite_head {
  display: flex;
}
.upSite_head h3 {
  font-family: "Inter";
  font-style: normal;
  font-size: 19px;
  font-weight: 700;
  margin-top: -5px;
  color: white;
}
.upSite_head button {
  position: absolute;
  right: 25px;
  border: none;
  background: rgba(34, 37, 48, 1);
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #f8ffff96;
}

.third_secondSec_UpSite table thead tr th {
  font-size: 11px;
  justify-content: center;
  align-items: flex-end;
  font-family: "Inter";
  color: white;
}
.third_secondSec_UpSite table tbody tr td {
  font-size: 12px;
  justify-content: center;
  align-items: flex-end;
  font-family: "Inter";
  color: white;
}
.third_secondSec_UpSite table tbody tr th{
  font-size: 1px;
}
.third_secondSec_UpSite table thead tr {
  border-top: hidden;
}

.third_secondSec_UpSite table tbody tr {
  border-top: hidden;
  position: relative;
}

.redSpan::before{
  content: "";
  
  top: 17px;
  position: absolute;
  width: 60px;
  height: 12px;
  background: #D50000;
  border-radius: 10px;
}
.greenSpan::before{
  content: "";
  top: 17px;
  position: absolute;
  width: 60px;
  height: 12px;
  background: #13D148;
  border-radius: 10px;
}

.graySpan::before{
  content: "";
  top: 17px;
  position: absolute;
  width: 60px;
  height: 12px;
  background: #D8D8D8;
  border-radius: 10px;
}



@media screen and (max-width:600px) {
  .third_secondSec_UpSite table thead tr th{
    font-size: 11px;
  }
  
}








/* downsite */

.third_sec_Down {
  background: linear-gradient(180deg, #222530 0%, rgba(34, 37, 48, 0) 100%);

  padding: 15px 18px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 32px;
  width: 100%;
  min-height: 160px;
}

.down_head h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter";
  color: white;
}


.down_content{
  display: flex;
 
}

.down_content i{
font-size: 11px;
margin-left: 3px;
margin-top: 4px;
}

.down_content p{
  font-family: 'Inter';
  font-size: 13px;
  font-weight: 500;
  margin-left: 15px;
  color: #ffffffd3;
}


/*third_sec  third part */
.third_sec_thirdPart{
  background: linear-gradient(180deg, #222530 0%, rgba(34, 37, 48, 0) 100%);
  padding: 15px 18px;
  box-sizing: border-box;
  border-radius: 5px;
 margin-top: 10px;
  width: 100%;

}
.thirdpart_head{
  display: flex;
}
.thirdpart_head h3{
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter";
  color: white;
}
.thirdpart_head button{
  position: absolute;
  right: 25px;
  border: none;
  background: linear-gradient(180deg, #222530 0% 100%);
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff85;
}


.thirdPart_content b{
  font-family: "Inter";
  font-weight: 700;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.925);


}

.thirdPart_content p{
  font-size: 16px;
  color: rgba(255, 255, 255, 0.856);
  font-family: 'Inter';
font-style: normal;

margin-top: -2px;
}

.thirdPart_content{
  margin-top: 12px;
}
.thirdPart_content button{
  border: none;
  background: linear-gradient(180deg, #222530 0%, rgba(34, 37, 48, 0) 100%);
  padding: 5px 12px;
  color: #5160AC;
  font-family: 'Inter';
  margin-top: -20px;
 

}
.thirdPart_content button::before{
  content: "";
  background-color: black;
  width: 300px;
  height: 100px;
  left: 0px;
  top: 0px;
  color: black;
}












/* four_sec */
.four_sec{
  width: 100%;
}
.four_sec_fristPart{
  background: linear-gradient(180deg, #222530 0%, rgba(34, 37, 48, 0) 100%);
  padding: 15px 18px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 5px;
  width: 100%;
  min-height: 410px;
  
}


.four_sec_head{
  display: flex;
}
.four_sec_head h3{
  font-size: 20px;
  font-family: "Inter";
  font-weight: 600;
  color: white;
}
.four_sec_content{
  position:absolute;
  right: 20px;

}

.four_sec_content button{
  border: none;
 padding: 7px;
 background: rgba(255, 179, 0, 0.151);
 font-family: 'Inter';
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 border-radius: 8px;
 margin-left: 2px;
 color: white;
}

.four_sec_content button i{
  color: rgba(255, 174, 0, 0.897);
  border: 2px solid white;
  font-size: 10px;
  cursor: pointer;
  border-radius: 100px;
}

.four_sec_content select{
  background: rgba(23, 23, 26, 1);
  border-radius: 8px;
  padding: 5px;
  margin-left: 2px;
  font-family: 'Inter';
  cursor: pointer;
  color: white;
}
.chart10{
  margin-top: 20px;
}

@media screen and (max-width:600px) {
  .four_sec_head h3{
    font-size: 12px;
    margin-top: 10px;
  }
  
}


/* four_sec_upPart/down part*/
.four_sec_secondPart_up{
  background: linear-gradient(180deg, #222530 0%, rgba(34, 37, 48, 0) 100%);
  padding: 10px 18px;
  
  border-radius: 5px;
  margin-top: 5px;
  width: 100%;
  min-height: 200px;
}
.four_sec_secondPart_up b{
  font-size: 14px;
  font-family: 'Inter';
  color: white;
  
}

.four_sec_secondPart_up table {
font-size: 12px;
box-sizing: border-box;
}

.four_sec_secondPart_up table thead tr {
  color: rgba(255, 255, 255, 0.87);
}
.four_sec_secondPart_up table tbody tr{
  color: rgba(255, 255, 255, 0.801);
}



.four_sec_secondPart_up table tbody tr td b{
  font-size: 6px;
}










/* footer start  */
.footer {
  background: linear-gradient(180deg, #232530 0%, rgba(34, 37, 48, 0) 100%);

  padding: 5px;
}
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_social {
  display: flex;
}
.footer_social i {
  color: #c4bebe;
  margin-right: 8px;
}

.footer_social {
  display: block;
}


/* footer end  */








/* for responsive */




@media screen and (max-width:1200px) {
  .third_sec_thirdPart {
  
  min-height: 490px;
  
  }
  .third_sec_FristP{
    min-height: 490px;
  }
  .third_sec_Down {
  min-height: 200px;
  }

  
  .third_sec_Ftable table thead tr th{
    font-size: 12px;
  }
  .third_secondSec_UpSite table tbody tr td {
font-size: 11px;

}

.third_secondSec_UpSite table thead tr th{
  font-size: 9px;
}
.four_sec_third_down table thead tr th{
  font-size: 11px;
  font-weight: 700;
}
.containerr{
  margin: 15px;
}
}

.four_sec_secondPart_up table{
  font-size: 10px;
}



@media screen and (max-width:1320px) {
  .footer_wrapper{
    display: block;
    text-align: center;
  }
}
@media screen and (max-width:1020px) {

  .sidebar{
    left: -500px;
  }

  label #bars{
    display: block;
  }

  .search_bar input{
    width: 600px;
    left: 80px;
  }

  .main_body{
    margin-left: 0px;
  }

  .inner_search i{
    left: 95px;
  }
  .footer_wrapper{
    display: block;
    text-align: center;
  }
 
}

@media screen and (max-width:790px) {
  .search_bar input{
    width: 400px;
    left: 80px;
  }


}

@media screen and (max-width:580px) {
  .search_bar input{
    width: 300px;
    left: 80px;
  }
}

@media screen and (max-width:480px) {
  .search_bar input{
    width: 250px;
    left: 60px;
  }

  .inner_search i{
    left: 76px;
  }

  .user_login .user_logo p{
    width: 30px;
    height: 30px;
  }

}


@media screen and (max-width:385px) {
  .search_bar input{
    width: 200px;
    left: 60px;
    height: 40px;
    margin-top: 5px;
    font-size: 16px;
  }

}











@media screen and (max-width:1991px) and (min-width:1601px) {
  
   
  .chart{
    width: 250px;
    height: 250px;
  }
  .side_Width{
    margin-left: -210px;
    padding: 52px;
    position: absolute;
    margin-top: 45px;
  }
  
  
  
   .side_width_bold{
    z-index: 1;
    position: absolute;
    margin-left: -195px;
    margin-top: 30px;
   }
  
  
   .mainDoughnut{
    height: 348px;
    width: 348px;
  }
  
  .side_Width_donunt{
    padding: 57px;
    margin-left: 76px;
    margin-top: 177px;
  
  }
  .side_width_donut_bold{
    margin-top: 147px;
    margin-left: 6px;
  }
  .second_chart{
    height: 390px;
  }
  
  }
  
  
  @media screen and (max-width:2200px) and (min-width:1992px) {
    .chart{
      width: 300px;
     height: 300px;
    }
    .side_Width{
      margin-left: -250px;
      padding: 65px;
      position: absolute;
      margin-top: 50px;
    }
    
    
   .side_width_bold{
    z-index: 1;
    position: absolute;
    margin-left: -225px;
    margin-top: 30px;
   }
  
    
  
  /* for doughnut */
   .mainDoughnut{
    width: 350px;
    height: 100%;
   
    
  }
  
    .side_Width_donunt{
    padding: 57px;
    margin-left: 76px;
    margin-top: 185px;
  
  }
  .side_width_donut_bold{
    margin-top: 147px;
    margin-left: 6px;
  }
  .second_chart{
    height: 390px;
  }
    
  }
  
  
  @media screen and (max-width:2400px) and (min-width:2201px) {
    .chart{
      width: 350px;
     height: 350px;
    }
    .side_Width{
      margin-left: -280px;
      padding: 75px;
      position: absolute;
      margin-top: 60px;
    }
    
    
    
     .side_width_bold{
      z-index: 1;
      position: absolute;
      margin-left: -250px;
      margin-top: 30px;
      font-size: 18px;
     }
  
  


.four_sec_secondPart_up table {
  font-size: 16px;

}

.table thead th {

  font-size: 17px;
}

.four_sec_secondPart_up b {
  font-size: 20px;
font-family: "Inter";
}


.four_sec_fristPart {
  min-height: 430px;

}

.four_sec_third_down {

min-height: 213px;
}

.four_sec_third_down b {
font-size: 20px;
}


.four_sec_third_down table thead tr th {
  font-size: 18px;
 
}

.four_sec_third_down table tbody tr td {
font-size: 16px;
}

.four_sec_third_down table tbody tr td b{
font-size: 16px;
}


.third_sec_Ftable table thead tr th {

font-size: 16px;
}

.third_secondSec_UpSite table thead tr th {
font-size: 16px;

}

.third_secondSec_UpSite table tbody tr td {
font-size: 13px;
}
.four_sec_secondPart_up table tbody tr td b{
  font-size: 14px;
}

.third_sec_Down {
  min-height: 162px;
}

.footer {

margin-top: 23px;
}

  
     
  /* for doughnut */
   .mainDoughnut{
    width: 400px;
    height: 100%;
   
    
  }
  
    .side_Width_donunt{
      padding: 69px;
      margin-left: 61px;
      margin-top: 218px;
  
  }
  .side_width_donut_bold{
    margin-top: 147px;
    margin-left: 6px;
  }
  .second_chart{
    height: 390px;
  }
     
    
  }
  
  @media screen and (max-width:2600px) and (min-width:2401px) {
    .chart{
      width: 350px;
     height: 350px;
    }
    .side_Width{
      margin-left: -280px;
      padding: 75px;
      position: absolute;
      margin-top: 60px;
    }
    
    
    
     .side_width_bold{
      z-index: 1;
      position: absolute;
      margin-left: -250px;
      margin-top: 30px;
      font-size: 18px;
     }
  
     .middleOfChart {
      background-color: rgba(236, 236, 242, 1);
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      height: 50px;
      padding: 35px;
      position: absolute;
      z-index: 1;
      
      
    }
    
    .middleOfChart i {
      position: absolute;
      font-size: 28px;
    }
  
  
  


.four_sec_secondPart_up table {
  font-size: 16px;

}

.table thead th {

  font-size: 17px;
}

.four_sec_secondPart_up b {
  font-size: 20px;
font-family: "Inter";
}


.four_sec_fristPart {
  min-height: 430px;

}

.four_sec_third_down {

min-height: 213px;
}

.four_sec_third_down b {
font-size: 20px;
}


.four_sec_third_down table thead tr th {
  font-size: 18px;
 
}

.four_sec_third_down table tbody tr td {
font-size: 16px;
}

.four_sec_third_down table tbody tr td b{
font-size: 16px;
}


.third_sec_Ftable table thead tr th {

font-size: 16px;
}

.third_secondSec_UpSite table thead tr th {
font-size: 16px;

}

.third_secondSec_UpSite table tbody tr td {
font-size: 13px;
}

.four_sec_secondPart_up table tbody tr td b{
  font-size: 14px;
}

.third_sec_Down {
  min-height: 162px;
}

.footer {

margin-top: 23px;
}

    
     
  /* for doughnut */
   .mainDoughnut{
    width: 400px;
    height: 100%;
   
    
  }
  
    .side_Width_donunt{
      padding: 70px;
      margin-left: 68px;
      margin-top: 215px;
  
  }
  .side_width_donut_bold{
    margin-top: 147px;
    margin-left: 0px;
  }
  .second_chart{
    height: 390px;
  }
     
    
    
  }
  
  
  @media screen and (max-width:3500px) and (min-width:2601px) {
    .chart{
      width: 400px;
     height: 400px;
    }
    .side_Width{
      margin-left: -320px;
      padding: 88px;
      position: absolute;
      margin-top: 65px;
    }
    
    
    
     .side_width_bold{
      z-index: 1;
      position: absolute;
      margin-left: -290px;
      margin-top: 30px;
      font-size: 18px;
     }
  
     .middleOfChart {
      background-color: rgba(236, 236, 242, 1);
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      height: 50px;
      padding: 35px;
      position: absolute;
      z-index: 1;
      
      
    }
    
    .middleOfChart i {
      position: absolute;
      font-size: 28px;
    }
  
  


.four_sec_secondPart_up table {
  font-size: 16px;

}

.table thead th {

  font-size: 17px;
}

.four_sec_secondPart_up b {
  font-size: 20px;
font-family: "Inter";
}


.four_sec_fristPart {
  min-height: 430px;

}

.four_sec_third_down {

min-height: 213px;
}

.four_sec_third_down b {
font-size: 20px;
}


.four_sec_third_down table thead tr th {
  font-size: 18px;
 
}

.four_sec_third_down table tbody tr td {
font-size: 16px;
}

.four_sec_third_down table tbody tr td b{
font-size: 16px;
}


.four_sec_secondPart_up table tbody tr td b{
  font-size: 14px;
}
.third_sec_Ftable table thead tr th {

font-size: 16px;
}

.third_secondSec_UpSite table thead tr th {
font-size: 16px;

}

.third_secondSec_UpSite table tbody tr td {
font-size: 13px;
}


.third_sec_Down {
  min-height: 162px;
}

.footer {

margin-top: 23px;
}

  
    
  /* for doughnut */
  
  
  .wrapperMaindoughnet {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 400px;
  }
   .mainDoughnut{
    width: 450px;
    height: 100%;
   
    
  }
  
    .side_Width_donunt{
      padding: 86px;
      margin-left: 54px;
      margin-top: 249px;
  
  }
  .side_width_donut_bold{
    margin-top: 193px;
    margin-left: -45px;
  }
  .second_chart{
    height: 450px;
  }
     
    
    
  }
  
  
  
  
  
  




/* dashboard charts styles end */
